/Tugas-2/nbproject/private/
/Tugas-2/build/
/Tugas-2/dist/
/Tugas-4/nbproject/private/
/Tugas-4/build/
/Tisigram1/nbproject/private/
/Tisigram1/build/
/Tugas-4/dist/
/Dadang/nbproject/private/
/Tugas-5/nbproject/private/
/Tugas-5/build/
