/Tugas-2/nbproject/private/
/Tugas-2/build/
/Tugas-2/dist/
/Tugas-4/nbproject/private/
/Tugas-4/build/
/Tisigram1/nbproject/private/
/Tisigram1/build/
/Tugas-4/dist/
/Dadang/nbproject/private/
/Tugas-5/nbproject/private/
/Tugas-5/build/
/Tugas-7/nbproject/private/
/Tugas-7/build/
/Tugas-6/nbproject/private/
/Tugas-6/build/
/Latihan ETS/nbproject/private/
/Latihan ETS/build/
/JavaApplication23/nbproject/private/
/JavaApplication23/build/
/LatihanETS/nbproject/private/
/LatihanETS/build/
/Tugas-8/nbproject/private/
/Tugas-8/build/
/Tugas-9/nbproject/private/
/Tugas-9/build/
/Tugas-9/dist/
/Tugas-10/nbproject/private/
/Tugas-10/build/
